<FilesMatch ".(ttf|otf|woff)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
Options -Multiviews
RewriteEngine On
RewriteBase /
# Rewriting d'url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]

# Gestion d'erreur
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 400 /oops-erreur
ErrorDocument 401 /oops-erreur
ErrorDocument 403 /oops-erreur
ErrorDocument 404 /oops-erreur
ErrorDocument 500 /oops-erreur 